/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: arial verdana, sans-serif;
  font-size: 16px;
/*  margin-left: 0;
  margin-right: 0;*/
}
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.75em;
}

/*div {
	border: 1px solid black;
	padding: 2px;
	margin-bottom: 5px;
}*/
#row {width:100%;
	margin-left:5px;
	margin-right: 5px;
	padding: 25px;
	padding-top: 0px;
}

.box  {    
	border: 2px solid black;
	margin: 15px;
	background-color: #808080;
}

section {
	border: 2px solid black;
	border-top: 0px;
	border-right: 0px;
	width: 30%;
	float: right;
	text-align: center;
	padding: 2px;
	font-size: 1.25em;
}

p {
	clear: both;
	padding: 10px;
	margin-right: auto;
    margin-left: auto;
}

/*.container {
	background-color: blue;
		}*/

#title1 {
	background-color: 	#e9967a;
}

#title2 {
	background-color: #b22222;
	color: 	#ffffff;
}

#title3 {
	background-color: #ffd700;
}
/********** Desktop View **********/
@media (min-width: 992px) {
  .col-md-4 {
	width: 33.33%;
	float:left;
}}

/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
	width: 50%;
	float:left;
}
	.col-sm-12 {
		width:100%;
		float:left;
	}
}

/********** Mobile View **********/
@media (max-width: 767px) {
  .col-xs-12 {
	width: 100%;

}}